<section class="hero">
    <div class="hero__color"></div>
    <div class="hero__image"></div>

    <div class="hero__content">
        <h1>Alan Espinet <span>Full Stack Developer</span></h1>

        <img src="images/logo.png" class="hero__content__logo" alt="Alan Espinet logo">
    </div><!-- /.hero__content -->

    {{> sections-separator_trans-to-gray }}
</section>


<section class="skills">
    <div class="container">
        {{#with data.skills_section}}
            {{#if section_title}}
                <h2>{{ section_title }}</h2>
            {{/if}}

            {{#if section_intro}}
                <p class="text-center">{{ section_intro }}</p>
            {{/if}}
        {{/with}}
    
        <div class="skills__skillset">
            <div class="skills__skillset__list skills__skillset__list--left">
                {{#with data.skills_section.left_skills_box}}
                    {{> skillbox}}
                {{/with}}
            </div>

            <div class="skills__skillset__list skills__skillset__list--right">
                {{#with data.skills_section.right_skills_box}}
                    {{> skillbox}}
                {{/with}}
            </div>
        </div>

        {{#if data.skills_section.section_footnote}}
            <p class="text-center skills__footnote">{{ data.skills_section.section_footnote }}</p>
        {{/if}}
    </div>
</section>


<section class="portfolio teal-section">
    {{> sections-separator_gray-to-trans }}

    <div class="container">
        {{#with data.portfolio_section}}
            {{#if section_title}}
                <h2 class="text-center color-white">{{ section_title }}</h2>
            {{/if}}

            {{#if projects}}
                <div class="portfolio__projects">
                    {{#each projects as | project |}}
                        <div class="portfolio__projects__project" {{#if project.link}} onClick="window.open('{{ project.link }}', '_blank')" {{/if}}>
                            {{#if project.image}}
                                <img class="img-fluid" src="{{ project.image }}" alt="">
                            {{/if}}

                            <div class="portfolio__projects__project__data">
                                <div class="portfolio__projects__project__data__title">
                                    {{#if project.name}}
                                        <h3>{{ project.name }}</h3>
                                    {{/if}}

                                    {{#if project.type}}
                                        <p><span>-</span>{{ project.type }}</p>
                                    {{/if}}
                                </div>
                                
                                <div class="portfolio__projects__project__data__additional">
                                    {{#if project.technologies}}
                                        <p>{{ project.technologies }}</p>
                                    {{/if}}

                                    {{#if project.link}}
                                        <p><span>-</span><a href="{{ project.link }}" target="_blank">Live Link</a></p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        {{/with}}
    </div>

    {{> sections-separator_trans-to-gray }}
</section>